* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.footer-dev, .footer, .container-contact, .plans-wrapper .plans, .container-plans .plans-info, .container-functionalities .functionality03, .container-functionalities .functionality02, .container-functionalities .functionality01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.container-functionalities .functionality03, .container-functionalities .functionality02, .container-functionalities .functionality01 {
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 12px 37px 11px rgba(0, 0, 0, 0.1);
}

.fa-x, .fa-bars-staggered {
  font-size: 2rem;
  color: green;
}

.header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
}
.header .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}
.header .navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
@media screen and (max-width: 430px) {
  .header .navbar-links {
    justify-content: center;
    display: none;
  }
}
.header .navbar-links > li {
  font-family: "Almarai", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.header .navbar-links > li > a {
  color: black;
}
.header .navbar-links > li > a:hover {
  color: #137527;
  transition: all 0.5s ease;
}
.header a > img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 835px) {
  .header a > img {
    width: 90%;
  }
}
@media screen and (max-width: 430px) {
  .header a > img {
    width: 70%;
  }
}

.fa-bars-staggered {
  display: none;
}
@media screen and (max-width: 430px) {
  .fa-bars-staggered {
    display: block;
  }
}

.fa-x {
  display: none;
}
@media screen and (max-width: 430px) {
  .fa-x {
    display: block;
  }
}

@media screen and (max-width: 430px) {
  .menuResponsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #07D656;
    animation: transitionMenu 0.5s ease;
  }
  .menuResponsive > li {
    font-family: "Almarai", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .menuResponsive > li > a {
    color: black;
  }
  .menuResponsive > li > a:hover {
    color: #137527;
    transition: all 0.5s ease;
  }
  @keyframes transitionMenu {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: 100vh;
      opacity: 1;
    }
  }
}

.footer-dev, .footer, .container-contact, .plans-wrapper .plans, .container-plans .plans-info, .container-functionalities .functionality03, .container-functionalities .functionality02, .container-functionalities .functionality01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.container-functionalities .functionality03, .container-functionalities .functionality02, .container-functionalities .functionality01 {
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 12px 37px 11px rgba(0, 0, 0, 0.1);
}

.fa-bars-staggered, .fa-x {
  font-size: 2rem;
  color: green;
}

.container-main {
  width: 100%;
  margin: 100px 0;
}
@media screen and (max-width: 430px) {
  .container-main {
    margin: 60px 0;
  }
}
.container-main .container-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: rgba(8, 235, 95, 0.2470588235);
}
@media screen and (max-width: 430px) {
  .container-main .container-banner {
    flex-direction: column-reverse;
  }
}
.container-main .container-banner .banner-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
@media screen and (max-width: 835px) {
  .container-main .container-banner .banner-info {
    align-items: center;
    gap: 1rem;
  }
}
.container-main .container-banner .banner-info .banner-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Almarai", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  width: 80%;
}
@media screen and (max-width: 835px) {
  .container-main .container-banner .banner-info .banner-title {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 430px) {
  .container-main .container-banner .banner-info .banner-title {
    font-size: 1.4rem;
    width: 100%;
  }
}
.container-main .container-banner .banner-info .banner-title .banner-Paypay {
  color: #137527;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: "Koh Santepheap", cursive;
  text-align: center;
  letter-spacing: normal;
}
@media screen and (max-width: 835px) {
  .container-main .container-banner .banner-info .banner-title .banner-Paypay {
    font-size: 1.4rem;
  }
}
.container-main .container-banner .banner-info .banner-btn {
  background-color: #1BA637;
  border: none;
  border-radius: 20px;
  padding: 0.7rem 2.4rem;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 835px) {
  .container-main .container-banner .banner-info .banner-btn {
    padding: 0.6rem 1.1rem;
  }
}
@media screen and (max-width: 430px) {
  .container-main .container-banner .banner-info .banner-btn {
    margin-bottom: 1rem;
    padding: 0.7rem 2.4rem;
  }
}
.container-main .container-banner .banner-info .banner-btn:hover {
  background-color: #07D656;
  cursor: pointer;
  transition: all 1s ease;
}
.container-main .container-banner > img {
  width: 43%;
  height: 100%;
}
@media screen and (max-width: 430px) {
  .container-main .container-banner > img {
    width: 100%;
  }
}

.footer-dev, .footer, .container-contact, .plans-wrapper .plans, .container-plans .plans-info, .container-functionalities .functionality03, .container-functionalities .functionality02, .container-functionalities .functionality01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.container-functionalities .functionality03, .container-functionalities .functionality02, .container-functionalities .functionality01 {
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 12px 37px 11px rgba(0, 0, 0, 0.1);
}

.fa-bars-staggered, .fa-x {
  font-size: 2rem;
  color: green;
}

.container-functionalities {
  display: grid;
  grid-template-areas: "a a a" "b c d";
  justify-items: center;
  padding: 2rem;
  gap: 3rem;
}
@media screen and (max-width: 835px) {
  .container-functionalities {
    grid-template-areas: "a a" "b c" "d d";
    gap: 2rem;
  }
}
@media screen and (max-width: 430px) {
  .container-functionalities {
    grid-template-areas: "a" "b" "c" "d";
    width: 100%;
  }
}
.container-functionalities .functionality-Title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  grid-area: a;
}
.container-functionalities .functionality01 {
  grid-area: b;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: center;
  width: 100%;
}
.container-functionalities .functionality02 {
  grid-area: c;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.container-functionalities .functionality03 {
  grid-area: d;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.container-functionalities .functionality-info {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.container-functionalities .functionality-msg {
  text-align: center;
}
.container-functionalities .fa-solid {
  font-size: 2rem;
  color: #1BA637;
}

.footer-dev, .footer, .container-contact, .plans-wrapper .plans, .container-plans .plans-info, .container-functionalities .functionality01, .container-functionalities .functionality02, .container-functionalities .functionality03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.container-functionalities .functionality01, .container-functionalities .functionality02, .container-functionalities .functionality03 {
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 12px 37px 11px rgba(0, 0, 0, 0.1);
}

.fa-bars-staggered, .fa-x {
  font-size: 2rem;
  color: green;
}

.container-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  background-color: rgba(8, 235, 95, 0.2470588235);
  gap: 5rem;
}
@media screen and (max-width: 430px) {
  .container-app {
    padding: 2rem 3rem;
  }
}
.container-app .app-info-downloads {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
@media screen and (max-width: 835px) {
  .container-app .app-info-downloads {
    align-items: center;
  }
}
@media screen and (max-width: 430px) {
  .container-app .app-info-downloads .app-storeDownloads {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container-app .app-info-downloads .app-storeDownloads > img {
  width: 100%;
  height: 100%;
}
.container-app .app-info-downloads .app-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}
@media screen and (max-width: 430px) {
  .container-app .app-info-downloads .app-title {
    font-size: 1.7rem;
  }
}
.container-app .app-info-downloads .app-info {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.container-app .appBoyimg {
  width: 30%;
  height: 100%;
}
@media screen and (max-width: 835px) {
  .container-app .appBoyimg {
    display: none;
  }
}
.container-app a > img {
  width: 174px;
  height: 60px;
}

.footer-dev, .footer, .container-contact, .plans-wrapper .plans, .container-plans .plans-info, .container-functionalities .functionality01, .container-functionalities .functionality02, .container-functionalities .functionality03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.container-functionalities .functionality01, .container-functionalities .functionality02, .container-functionalities .functionality03 {
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 12px 37px 11px rgba(0, 0, 0, 0.1);
}

.fa-bars-staggered, .fa-x {
  font-size: 2rem;
  color: green;
}

.container-plans {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 3rem 0;
}
.container-plans .plans-titlePrincipal {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin: 1rem 0;
}
.container-plans .plans-msg {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: center;
  max-width: 50%;
}
@media screen and (max-width: 835px) {
  .container-plans .plans-msg {
    max-width: 80%;
  }
}

.plans-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  gap: 1.5rem;
  margin: 2rem 0;
}
@media screen and (max-width: 835px) {
  .plans-wrapper {
    flex-direction: column;
    width: 85%;
    margin: 0;
    gap: 2rem;
  }
}
@media screen and (max-width: 430px) {
  .plans-wrapper {
    width: 100%;
  }
}
.plans-wrapper .plans {
  gap: 1rem;
  width: 100%;
  background: rgba(8, 235, 95, 0.2470588235);
  box-shadow: 8px 12px 37px 11px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 10px;
}
@media screen and (max-width: 835px) {
  .plans-wrapper .plans {
    gap: 1.3rem;
  }
}
.plans-wrapper .plans .plans-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  letter-spacing: 1px;
}
.plans-wrapper .plans .fa-medal {
  color: #1BA637;
  font-size: 1.7rem;
}
.plans-wrapper .plans .plans-title-info {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Gill Sans, sans-serif";
  text-align: center;
}
.plans-wrapper .plans .btn-plan {
  background-color: #1BA637;
  color: black;
  border-radius: 20px;
  border: none;
  letter-spacing: 1px;
  padding: 0.5rem 2.1rem;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 835px) {
  .plans-wrapper .plans .btn-plan {
    padding: 0.7rem 2.4rem;
  }
}
.plans-wrapper .plans .btn-plan:hover {
  background-color: #07D656;
  transition: all 1s ease;
  cursor: pointer;
}

#plansGold {
  background-color: #137527;
}
@media screen and (max-width: 835px) {
  #plansGold {
    order: -1;
  }
}
#plansGold > .plans-title {
  color: white;
}
#plansGold > .fa-medal {
  color: orange;
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}
#plansGold > .plans-recommended {
  background-color: #1BA637;
  color: black;
  border-radius: 0 20px 0 20px;
  border: none;
  letter-spacing: 1px;
  padding: 0.5rem 2.1rem;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
#plansGold > .plans-title-info {
  color: white;
}

.footer-dev, .footer, .container-contact, .container-functionalities .functionality01, .container-functionalities .functionality02, .container-functionalities .functionality03, .container-plans .plans-info, .plans-wrapper .plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.container-functionalities .functionality01, .container-functionalities .functionality02, .container-functionalities .functionality03 {
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 12px 37px 11px rgba(0, 0, 0, 0.1);
}

.fa-bars-staggered, .fa-x {
  font-size: 2rem;
  color: green;
}

.container-contact {
  background-image: url(../imgs/background-contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
  gap: 1rem;
}
@media screen and (max-width: 430px) {
  .container-contact .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }
}
.container-contact .contact-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: white;
}
.container-contact .contact-msg {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: white;
  max-width: 60%;
}
@media screen and (max-width: 430px) {
  .container-contact .contact-msg {
    max-width: 90%;
  }
}

#contact-email {
  padding: 0 1.5rem;
  margin-top: 1rem;
  width: 20rem;
  height: 2.7rem;
  border: none;
  border-radius: 5px;
  border-bottom: white 3px solid;
  color: white;
  background-color: rgba(0, 0, 0, 0.678);
}
#contact-email::placeholder {
  color: white;
}
@media screen and (max-width: 430px) {
  #contact-email {
    width: 80%;
  }
}

.contact-btn {
  background-color: #1BA637;
  color: black;
  border: none;
  border-radius: 15px;
  letter-spacing: 1px;
  padding: 0.7rem 2.1rem;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 430px) {
  .contact-btn {
    width: 80%;
  }
}
.contact-btn:hover {
  background-color: #07D656;
  transition: all 1s ease;
  cursor: pointer;
}

.footer-dev, .footer, .container-functionalities .functionality01, .container-functionalities .functionality02, .container-functionalities .functionality03, .container-plans .plans-info, .plans-wrapper .plans, .container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.container-functionalities .functionality01, .container-functionalities .functionality02, .container-functionalities .functionality03 {
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 12px 37px 11px rgba(0, 0, 0, 0.1);
}

.fa-bars-staggered, .fa-x {
  font-size: 2rem;
  color: green;
}

.footer {
  margin-top: 1rem;
  gap: 1rem;
}
.footer-copy {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 430px) {
  .footer-copy {
    font-size: 0.9rem;
  }
}

#payPay {
  color: #137527;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Koh Santepheap", cursive;
  text-align: center;
  letter-spacing: normal;
}
@media screen and (max-width: 430px) {
  #payPay {
    font-size: 0.9rem;
  }
}

.footer-dev {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  background: #1BA637;
}
.footer-dev > h6 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
@media screen and (max-width: 430px) {
  .footer-dev > h6 {
    font-size: 1rem;
  }
}
.footer-dev > h6 .devName {
  color: black;
  font-weight: 800;
  font-size: 1.4rem;
  font-size: 1rem;
}
.footer-dev .dev-socialNetwork {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 1rem 0;
}
.footer-dev .dev-socialNetwork .social-network {
  color: white;
  font-size: 1.6rem;
}
.footer-dev .dev-socialNetwork .social-network:hover {
  color: black;
  transition: all 1s ease;
}

.fa-circle-arrow-up {
  position: fixed;
  top: 550px;
  right: 30px;
  font-size: 2.2rem;
  color: #07D656;
  cursor: pointer;
  display: none;
}
.fa-circle-arrow-up:hover {
  color: #137527;
  transform: scale(1.1);
  transition: all 0.5s ease;
}
@media screen and (max-width: 430px) {
  .fa-circle-arrow-up {
    top: 480px;
    right: 20px;
  }
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #07D656;
  border-radius: 20px;
}

.preLoading {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 999;
}
.preLoading .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preLoading .loading > span {
  display: block;
  width: 64px;
  height: 64px;
  animation: loading 2.5s linear;
}

@keyframes loading {
  0% {
    background-image: url(../imgs/animationIMG/dollar.png);
    transform: scale(1.1);
  }
  50% {
    background-image: url(../imgs/animationIMG/dollar-symbol.png);
    transform: scale(1.2);
  }
  75% {
    background-image: url(../imgs/animationIMG/coins.png);
    transform: scale(1.1);
  }
  100% {
    background-image: url(../imgs/animationIMG/dollar-symbol.png);
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=styles.css.map */
