* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container-functionalities .functionality03, .container-functionalities .functionality02, .container-functionalities .functionality01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 12px 37px 11px rgba(0, 0, 0, 0.1);
}

.header {
  width: 100%;
}
.header .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.header .navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.header .navbar-links > li {
  font-family: "Almarai", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.header .navbar-links > li > a {
  color: black;
}
.header .navbar-links > li > a:hover {
  color: #17C86C;
  transition: all 1s ease;
}

.container-functionalities .functionality03, .container-functionalities .functionality02, .container-functionalities .functionality01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 12px 37px 11px rgba(0, 0, 0, 0.1);
}

.container-main {
  width: 100%;
}
.container-main .container-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  background-color: rgba(8, 235, 95, 0.2470588235);
}
.container-main .container-banner .banner-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.container-main .container-banner .banner-info .banner-title {
  font-weight: bold;
  font-family: "Almarai", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.5;
  width: 80%;
}
.container-main .container-banner .banner-info .banner-title .banner-Paypay {
  color: #17C86C;
  font-weight: 900;
}
.container-main .container-banner .banner-info .banner-btn {
  background-color: #17C86C;
  border: none;
  border-radius: 20px;
  padding: 0.7rem 2.4rem;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.container-main .container-banner .banner-info .banner-btn:hover {
  background-color: #07D656;
  cursor: pointer;
  transition: all 1s ease;
}

.container-functionalities .functionality03, .container-functionalities .functionality02, .container-functionalities .functionality01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 12px 37px 11px rgba(0, 0, 0, 0.1);
}

.container-functionalities {
  display: grid;
  grid-template-areas: "a a a" "b c d";
  justify-items: center;
  padding: 4rem;
  gap: 3rem;
}
.container-functionalities .functionality-Title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  grid-area: a;
}
.container-functionalities .functionality01 {
  grid-area: b;
}
.container-functionalities .functionality02 {
  grid-area: c;
}
.container-functionalities .functionality03 {
  grid-area: d;
}
.container-functionalities .functionality-info {
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.container-functionalities .functionality-msg {
  text-align: center;
}
.container-functionalities .fa-solid {
  font-size: 2rem;
  color: #17C86C;
}

.container-functionalities .functionality01, .container-functionalities .functionality02, .container-functionalities .functionality03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 8px 12px 37px 11px rgba(0, 0, 0, 0.1);
}

.container-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  background-color: rgba(8, 235, 95, 0.2470588235);
  gap: 5rem;
}
.container-app .app-info-downloads {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.container-app .app-info-downloads .app-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}
.container-app .app-info-downloads .app-info {
  font-size: 0.9rem;
  max-width: 75%;
  font-weight: 500;
}

/*# sourceMappingURL=styles.css.map */
